<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário Climático</title>

<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário Climático</title>


{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>

<div class="calendario-container">

    <h1>📅 Visão Mensal</h1>

    <p>
        Veja a previsão climática do mês.
    </p>

    <div class="mes-selector">
        <button>◀</button>
        <span>Junho 2026</span>
        <button>▶</button>
    </div>

    <div class="dias">

        <div class="dia-card destaque">
            <h3>1</h3>
            <p>☀️</p>
            <small>26°C</small>
        </div>

        <div class="dia-card">
            <h3>2</h3>
            <p>☀️</p>
            <small>24°C</small>
        </div>

        <div class="dia-card">
            <h3>3</h3>
            <p>⛅</p>
            <small>22°C</small>
        </div>

        <div class="dia-card">
            <h3>4</h3>
            <p>🌧️</p>
            <small>19°C</small>
        </div>

        <div class="dia-card">
            <h3>5</h3>
            <p>🌧️</p>
            <small>18°C</small>
        </div>

        <div class="dia-card">
            <h3>6</h3>
            <p>☀️</p>
            <small>27°C</small>
        </div>

    </div>

    <div class="legenda">
        <span class="tempo-bom">🟢 Tempo bom</span>
        <span class="atencao">🟡 Atenção</span>
        <span class="risco">🔴 Risco</span>
    </div>

<h2>Eventos do mês</h2>

{% if eventos %}

<div class="lista-eventos">

    {% for evento in eventos %}

    <div class="evento-card">

        <h3>{{ evento.titulo }}</h3>

        <p>{{ evento.data_inicio }}</p>

        <p>{{ evento.local_evento }}</p>

    </div>

    {% endfor %}

</div>

{% else %}

<p>Nenhum evento cadastrado.</p>

{% endif %}

</div>


</body>
</html>
