body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef6ff;
    color: #1f2937;
}

h1 {
    color: #2563eb;
    font-size: 42px;
}

p {
    font-size: 18px;
}
form{
    display: flex;
    flex-direction: column;

    gap: 15px;

    margin-top: 20px;
}

form input{
    padding: 10px;

    border-radius: 10px;

    border: 1px solid #ccc;
}

form button{
    padding: 12px;

    border: none;

    border-radius: 10px;

    background-color: #1f8fff;

    color: white;

    cursor: pointer;
}
